name: RxSwift

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

jobs:
  xcode14:
    name: "Xcode 14"
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        environment: [iOS, iOS-Example, Unix, watchOS, tvOS, SPM]

    steps:
      - uses: actions/checkout@v2
      - name: Run Tests
        run: CI=1 ./scripts/all-tests.sh "${{ matrix.environment }}"
  linux:
    name: "Test (Linux)"
    runs-on: ubuntu-latest

    steps:
      - name: Swift 5.5 Docker Container
        uses: docker://swift:5.5.0-slim
      - uses: actions/checkout@v2
      - name: Run tests
        run: CI=1 ./scripts/all-tests.sh "Unix"