name: RxSwift

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

jobs:
  # xcode26:
  #   name: "Xcode 26"
  #   runs-on: macos-latest

  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       environment: [iOS, iOS-Example, Unix, watchOS, tvOS, SPM]

  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: Select Xcode 26
  #       run: sudo xcode-select -s /Applications/Xcode_26.2.app
  #     - name: Run Tests
  #       run: CI=1 ./scripts/all-tests.sh "${{ matrix.environment }}"

  xcode16:
    name: "Xcode 16"
    runs-on: macos-15

    strategy:
      fail-fast: false
      matrix:
        environment: [iOS, iOS-Example, Unix, watchOS, tvOS, SPM]

    steps:
      - uses: actions/checkout@v3
      - name: Select Xcode 16
        run: sudo xcode-select -s /Applications/Xcode_16.0.app
      - name: Run Tests
        run: CI=1 ./scripts/all-tests.sh "${{ matrix.environment }}"

  linux:
    name: "Build (Android)"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Build Swift Package on Android"
        uses: skiptools/swift-android-action@v2
        with:
          run-tests: false

  # We're having some issues with the Linux tests, so we're disabling them for now.
  # Hopefully we'll be able to fix and re-enable them soon.
  # Even more hopefully that I won't git blame this comment in the future and see it was 5 years ago :)
  # Some more info on part of the breakage is here: https://forums.swift.org/t/swift-6-0-regression-cannot-inherit-from-some-foundation-classes-on-linux-because-it-has-overridable-members-that-could-not-be-loaded/74794
  # linux:
  #   name: "Test (Linux)"
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: Run tests
  #       run: CI=1 ./scripts/all-tests.sh "Unix"

