name: RxSwift

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

jobs:
  cocoa:
    name: "Catalina (Xcode 12.4)"
    runs-on: macos-10.15

    strategy:
      fail-fast: false
      matrix:
        environment: [iOS, iOS-Example, Unix, watchOS, tvOS, SPM]

    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode 12.4
        run: sudo xcode-select -s /Applications/Xcode_12.4.app
      - name: Run Tests
        run: CI=1 ./scripts/all-tests.sh "${{ matrix.environment }}"
  bigsur:
    name: "Big Sur (Xcode 13.0),"
    runs-on: self-hosted

    strategy:
      fail-fast: false
      matrix:
        environment: [iOS, iOS-Example, Unix, watchOS, tvOS, SPM]

    steps:
      - uses: actions/checkout@v2
      - name: Run Tests
        run: CI=1 ./scripts/all-tests.sh "${{ matrix.environment }}"
  linux:
    name: "Test (Linux)"
    runs-on: ubuntu-latest

    steps:
      - name: Swift 5.5 Docker Container
        uses: docker://swift:5.5.0-slim
      - uses: actions/checkout@v2
      - name: Run tests
        run: CI=1 ./scripts/all-tests.sh "Unix"
